.quoteBox {
  position: relative;
  padding: 15px;
  border-radius: 20px;
  font-weight: 900;
  font-size: 1.3rem;
  font-family: 'MedievalSharp', cursive;
  color: bisque;
}

.dark {
  border-radius: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  box-shadow: 0 0 40px rgb(30, 255, 0);
}

.quoteImg {
  height: 30vh;
  width: 40vw;
  margin: 0 auto;
}

.quoteImg.bg1 {
  background-image: url('/imgs/img1.jpg');
}

.quoteImg.bg2 {
  background-image: url('/imgs/img2.jpg');
}

.quoteImg.bg3 {
  background-image: url('/imgs/img3.jpg');
}

.quoteImg.bg4 {
  background-image: url('/imgs/img4.jpg');
}

.quoteBox__phrase {
  position: relative;
  margin-bottom: 30px;
}

.footer {
  position: relative
}

