.app {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  display: grid; 
  justify-items: center;
  align-items: center;
}

.app.bg1 {
  background-image: url('/imgs/img1.jpg');
}

.app.bg2 {
  background-image: url('/imgs/img2.jpg');
}

.app.bg3 {
  background-image: url('/imgs/img3.jpg');
}

.app.bg4 {
  background-image: url('/imgs/img4.jpg');
}

.app__container {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;
  gap: 60px;
  width: min(100%, 280px);
}

.app__h1 {
  font-size: 40px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  font-family: 'MedievalSharp', cursive;
  color: bisque;
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
}

.quoteBox__btn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background: rgb(210, 210, 210);
  transition: box-shadow .1s ease-in-out, width .8s ease-in-out, height .7s ease-in-out;
}

.quoteBox__btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 15px rgb(30, 255, 0);
  width: 115px;
  height: 40px;
  cursor: pointer;
}